---
layout: default
---
<div class="p p-responsive wrap">
    <img src="/FullSizeRender.png" class="left fit">
    <blockquote class="right">My name is Michael Johnson. I'm a twenty-something operations junky who appreciates good design, productive teams, and organizational challenges.
    </blockquote>
</div>

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h2 post-title">{{ post.title }}</h3></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
